
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />@*Bu olmadan table table-bordered çalışmaz!*@
<div class="container">
    <br />
        
    <table class="table table-bordered">
        <tr>
            <th>Ürün ID</th>
            <th>Ürün Adı</th>
            <th>Ürün Stok Sayısı</th>
            <th>Ürün Kategori</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Bilgisayar</td>
            <td>24</td>
            <td>Elektronik</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kazak</td>
            <td>35</td>
            <td>Kıyafet</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Gömlek</td>
            <td>300</td>
            <td>Kıyafet</td>
        </tr>
    </table>
    <a href="#" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>