
@{
    Layout = null;
}

<h2>Burası Layout alanıdır</h2>
<br />
<div style="background-color:#b6ff00">Burası da layouttur.</div>

@RenderBody()@*Layout'un bağlı olduğu view sayfalarının içeriği bu kısımda çalışır.*@