
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_NavbarLayout.cshtml";
}

<h2>Kullanıcı Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Hasan</td>
        <td>Çiçek</td>
        <td>Siirt</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Hüseyin</td>
        <td>Çiçek</td>
        <td>Siirt</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Hali</td>
        <td>Çiçek</td>
        <td>Siirt</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
        <td><a href="#" class="btn btn-warning">Detaylar</a></td>
    </tr>
</table>

